.walken {
  display: none;
}

.hemsworth {
  display: none;
}

.bogart {
  display: none;
}

.pitt {
  display: none;
}

.lawrence {
  display: none;
}

.hepburn {
  display: none;
}

.dench {
  display: none;
}

.moore {
  display: none;
}

.buscemi {
  display: none;
}

.kauffman {
  display: none;
}

.olson {
  display: none;
}

.brooks {
  display: none;
}

.day {
  display: none;
}

.west {
  display: none;
}

.barr {
  display: none;
}

.white {
  display: none;
}
